<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>源码</title>
</head>
<body>

  <script src="js/observer.js"></script>
  <script src="js/watcher.js"></script>
  <script src="js/compile.js"></script>
  <script src="js/index.js"></script>
  <script>
      new Vue({
        el:'#app',
        data: {
          title: 'test code',
          name: 'fui'
        },
        methods: {
          clickMe() {
            this.title = 'click...';
          },
        },
        mounted(){
          window.setTimeout(() => {
            this.title = 'time 1000'
          }, 1000);
        }
      });
  </script>
</body>
</html>
