.container-wrap {
  position: absolute;
  top: 2rem;
  background-color: #fff;
  width: 100%;

}

// app 头部icon布局
.icon-header{
    display:flex;
    display:-webkit-flex;
    align-items:center;
    .icon-l,
    .icon-r{
      font-size:.6rem;
      padding:5px;
    }
  }

